.background-google-red {
  background: #F44336; }

.color-google-red {
  color: #F44336; }

.background-google-red-50 {
  background: #FFEBEE; }

.color-google-red-50 {
  color: #FFEBEE; }

.background-google-red-100 {
  background: #FFCDD2; }

.color-google-red-100 {
  color: #FFCDD2; }

.background-google-red-200 {
  background: #EF9A9A; }

.color-google-red-200 {
  color: #EF9A9A; }

.background-google-red-300 {
  background: #E57373; }

.color-google-red-300 {
  color: #E57373; }

.background-google-red-400 {
  background: #EF5350; }

.color-google-red-400 {
  color: #EF5350; }

.background-google-red-500 {
  background: #F44336; }

.color-google-red-500 {
  color: #F44336; }

.background-google-red-600 {
  background: #E53935; }

.color-google-red-600 {
  color: #E53935; }

.background-google-red-700 {
  background: #D32F2F; }

.color-google-red-700 {
  color: #D32F2F; }

.background-google-red-800 {
  background: #C62828; }

.color-google-red-800 {
  color: #C62828; }

.background-google-red-900 {
  background: #B71C1C; }

.color-google-red-900 {
  color: #B71C1C; }

.background-google-red-A100 {
  background: #FF8A80; }

.color-google-red-A100 {
  color: #FF8A80; }

.background-google-red-A200 {
  background: #FF5252; }

.color-google-red-A200 {
  color: #FF5252; }

.background-google-red-A400 {
  background: #FF1744; }

.color-google-red-A400 {
  color: #FF1744; }

.background-google-red-A700 {
  background: #D50000; }

.color-google-red-A700 {
  color: #D50000; }

.background-google-pink {
  background: #E91E63; }

.color-google-pink {
  color: #E91E63; }

.background-google-pink-50 {
  background: #FCE4EC; }

.color-google-pink-50 {
  color: #FCE4EC; }

.background-google-pink-100 {
  background: #F8BBD0; }

.color-google-pink-100 {
  color: #F8BBD0; }

.background-google-pink-200 {
  background: #F48FB1; }

.color-google-pink-200 {
  color: #F48FB1; }

.background-google-pink-300 {
  background: #F06292; }

.color-google-pink-300 {
  color: #F06292; }

.background-google-pink-400 {
  background: #EC407A; }

.color-google-pink-400 {
  color: #EC407A; }

.background-google-pink-500 {
  background: #E91E63; }

.color-google-pink-500 {
  color: #E91E63; }

.background-google-pink-600 {
  background: #D81B60; }

.color-google-pink-600 {
  color: #D81B60; }

.background-google-pink-700 {
  background: #C2185B; }

.color-google-pink-700 {
  color: #C2185B; }

.background-google-pink-800 {
  background: #AD1457; }

.color-google-pink-800 {
  color: #AD1457; }

.background-google-pink-900 {
  background: #880E4F; }

.color-google-pink-900 {
  color: #880E4F; }

.background-google-pink-A100 {
  background: #FF80AB; }

.color-google-pink-A100 {
  color: #FF80AB; }

.background-google-pink-A200 {
  background: #FF4081; }

.color-google-pink-A200 {
  color: #FF4081; }

.background-google-pink-A400 {
  background: #F50057; }

.color-google-pink-A400 {
  color: #F50057; }

.background-google-pink-A700 {
  background: #C51162; }

.color-google-pink-A700 {
  color: #C51162; }

.background-google-purple {
  background: #9C27B0; }

.color-google-purple {
  color: #9C27B0; }

.background-google-purple-50 {
  background: #F3E5F5; }

.color-google-purple-50 {
  color: #F3E5F5; }

.background-google-purple-100 {
  background: #E1BEE7; }

.color-google-purple-100 {
  color: #E1BEE7; }

.background-google-purple-200 {
  background: #CE93D8; }

.color-google-purple-200 {
  color: #CE93D8; }

.background-google-purple-300 {
  background: #BA68C8; }

.color-google-purple-300 {
  color: #BA68C8; }

.background-google-purple-400 {
  background: #AB47BC; }

.color-google-purple-400 {
  color: #AB47BC; }

.background-google-purple-500 {
  background: #9C27B0; }

.color-google-purple-500 {
  color: #9C27B0; }

.background-google-purple-600 {
  background: #8E24AA; }

.color-google-purple-600 {
  color: #8E24AA; }

.background-google-purple-700 {
  background: #7B1FA2; }

.color-google-purple-700 {
  color: #7B1FA2; }

.background-google-purple-800 {
  background: #6A1B9A; }

.color-google-purple-800 {
  color: #6A1B9A; }

.background-google-purple-900 {
  background: #4A148C; }

.color-google-purple-900 {
  color: #4A148C; }

.background-google-purple-A100 {
  background: #EA80FC; }

.color-google-purple-A100 {
  color: #EA80FC; }

.background-google-purple-A200 {
  background: #E040FB; }

.color-google-purple-A200 {
  color: #E040FB; }

.background-google-purple-A400 {
  background: #D500F9; }

.color-google-purple-A400 {
  color: #D500F9; }

.background-google-purple-A700 {
  background: #AA00FF; }

.color-google-purple-A700 {
  color: #AA00FF; }

.background-google-deep-purple {
  background: #673AB7; }

.color-google-deep-purple {
  color: #673AB7; }

.background-google-deep-purple-50 {
  background: #EDE7F6; }

.color-google-deep-purple-50 {
  color: #EDE7F6; }

.background-google-deep-purple-100 {
  background: #D1C4E9; }

.color-google-deep-purple-100 {
  color: #D1C4E9; }

.background-google-deep-purple-200 {
  background: #B39DDB; }

.color-google-deep-purple-200 {
  color: #B39DDB; }

.background-google-deep-purple-300 {
  background: #9575CD; }

.color-google-deep-purple-300 {
  color: #9575CD; }

.background-google-deep-purple-400 {
  background: #7E57C2; }

.color-google-deep-purple-400 {
  color: #7E57C2; }

.background-google-deep-purple-500 {
  background: #673AB7; }

.color-google-deep-purple-500 {
  color: #673AB7; }

.background-google-deep-purple-600 {
  background: #5E35B1; }

.color-google-deep-purple-600 {
  color: #5E35B1; }

.background-google-deep-purple-700 {
  background: #512DA8; }

.color-google-deep-purple-700 {
  color: #512DA8; }

.background-google-deep-purple-800 {
  background: #4527A0; }

.color-google-deep-purple-800 {
  color: #4527A0; }

.background-google-deep-purple-900 {
  background: #311B92; }

.color-google-deep-purple-900 {
  color: #311B92; }

.background-google-deep-purple-A100 {
  background: #B388FF; }

.color-google-deep-purple-A100 {
  color: #B388FF; }

.background-google-deep-purple-A200 {
  background: #7C4DFF; }

.color-google-deep-purple-A200 {
  color: #7C4DFF; }

.background-google-deep-purple-A400 {
  background: #651FFF; }

.color-google-deep-purple-A400 {
  color: #651FFF; }

.background-google-deep-purple-A700 {
  background: #6200EA; }

.color-google-deep-purple-A700 {
  color: #6200EA; }

.background-google-indigo {
  background: #3F51B5; }

.color-google-indigo {
  color: #3F51B5; }

.background-google-indigo-50 {
  background: #E8EAF6; }

.color-google-indigo-50 {
  color: #E8EAF6; }

.background-google-indigo-100 {
  background: #C5CAE9; }

.color-google-indigo-100 {
  color: #C5CAE9; }

.background-google-indigo-200 {
  background: #9FA8DA; }

.color-google-indigo-200 {
  color: #9FA8DA; }

.background-google-indigo-300 {
  background: #7986CB; }

.color-google-indigo-300 {
  color: #7986CB; }

.background-google-indigo-400 {
  background: #5C6BC0; }

.color-google-indigo-400 {
  color: #5C6BC0; }

.background-google-indigo-500 {
  background: #3F51B5; }

.color-google-indigo-500 {
  color: #3F51B5; }

.background-google-indigo-600 {
  background: #3949AB; }

.color-google-indigo-600 {
  color: #3949AB; }

.background-google-indigo-700 {
  background: #303F9F; }

.color-google-indigo-700 {
  color: #303F9F; }

.background-google-indigo-800 {
  background: #283593; }

.color-google-indigo-800 {
  color: #283593; }

.background-google-indigo-900 {
  background: #1A237E; }

.color-google-indigo-900 {
  color: #1A237E; }

.background-google-indigo-A100 {
  background: #8C9EFF; }

.color-google-indigo-A100 {
  color: #8C9EFF; }

.background-google-indigo-A200 {
  background: #536DFE; }

.color-google-indigo-A200 {
  color: #536DFE; }

.background-google-indigo-A400 {
  background: #3D5AFE; }

.color-google-indigo-A400 {
  color: #3D5AFE; }

.background-google-indigo-A700 {
  background: #304FFE; }

.color-google-indigo-A700 {
  color: #304FFE; }

.background-google-blue {
  background: #2196F3; }

.color-google-blue {
  color: #2196F3; }

.background-google-blue-50 {
  background: #E3F2FD; }

.color-google-blue-50 {
  color: #E3F2FD; }

.background-google-blue-100 {
  background: #BBDEFB; }

.color-google-blue-100 {
  color: #BBDEFB; }

.background-google-blue-200 {
  background: #90CAF9; }

.color-google-blue-200 {
  color: #90CAF9; }

.background-google-blue-300 {
  background: #64B5F6; }

.color-google-blue-300 {
  color: #64B5F6; }

.background-google-blue-400 {
  background: #42A5F5; }

.color-google-blue-400 {
  color: #42A5F5; }

.background-google-blue-500 {
  background: #2196F3; }

.color-google-blue-500 {
  color: #2196F3; }

.background-google-blue-600 {
  background: #1E88E5; }

.color-google-blue-600 {
  color: #1E88E5; }

.background-google-blue-700 {
  background: #1976D2; }

.color-google-blue-700 {
  color: #1976D2; }

.background-google-blue-800 {
  background: #1565C0; }

.color-google-blue-800 {
  color: #1565C0; }

.background-google-blue-900 {
  background: #0D47A1; }

.color-google-blue-900 {
  color: #0D47A1; }

.background-google-blue-A100 {
  background: #82B1FF; }

.color-google-blue-A100 {
  color: #82B1FF; }

.background-google-blue-A200 {
  background: #448AFF; }

.color-google-blue-A200 {
  color: #448AFF; }

.background-google-blue-A400 {
  background: #2979FF; }

.color-google-blue-A400 {
  color: #2979FF; }

.background-google-blue-A700 {
  background: #2962FF; }

.color-google-blue-A700 {
  color: #2962FF; }

.background-google-light-blue {
  background: #03A9F4; }

.color-google-light-blue {
  color: #03A9F4; }

.background-google-light-blue-50 {
  background: #E1F5FE; }

.color-google-light-blue-50 {
  color: #E1F5FE; }

.background-google-light-blue-100 {
  background: #B3E5FC; }

.color-google-light-blue-100 {
  color: #B3E5FC; }

.background-google-light-blue-200 {
  background: #81D4FA; }

.color-google-light-blue-200 {
  color: #81D4FA; }

.background-google-light-blue-300 {
  background: #4FC3F7; }

.color-google-light-blue-300 {
  color: #4FC3F7; }

.background-google-light-blue-400 {
  background: #29B6F6; }

.color-google-light-blue-400 {
  color: #29B6F6; }

.background-google-light-blue-500 {
  background: #03A9F4; }

.color-google-light-blue-500 {
  color: #03A9F4; }

.background-google-light-blue-600 {
  background: #039BE5; }

.color-google-light-blue-600 {
  color: #039BE5; }

.background-google-light-blue-700 {
  background: #0288D1; }

.color-google-light-blue-700 {
  color: #0288D1; }

.background-google-light-blue-800 {
  background: #0277BD; }

.color-google-light-blue-800 {
  color: #0277BD; }

.background-google-light-blue-900 {
  background: #01579B; }

.color-google-light-blue-900 {
  color: #01579B; }

.background-google-light-blue-A100 {
  background: #80D8FF; }

.color-google-light-blue-A100 {
  color: #80D8FF; }

.background-google-light-blue-A200 {
  background: #40C4FF; }

.color-google-light-blue-A200 {
  color: #40C4FF; }

.background-google-light-blue-A400 {
  background: #00B0FF; }

.color-google-light-blue-A400 {
  color: #00B0FF; }

.background-google-light-blue-A700 {
  background: #0091EA; }

.color-google-light-blue-A700 {
  color: #0091EA; }

.background-google-cyan {
  background: #00BCD4; }

.color-google-cyan {
  color: #00BCD4; }

.background-google-cyan-50 {
  background: #E0F7FA; }

.color-google-cyan-50 {
  color: #E0F7FA; }

.background-google-cyan-100 {
  background: #B2EBF2; }

.color-google-cyan-100 {
  color: #B2EBF2; }

.background-google-cyan-200 {
  background: #80DEEA; }

.color-google-cyan-200 {
  color: #80DEEA; }

.background-google-cyan-300 {
  background: #4DD0E1; }

.color-google-cyan-300 {
  color: #4DD0E1; }

.background-google-cyan-400 {
  background: #26C6DA; }

.color-google-cyan-400 {
  color: #26C6DA; }

.background-google-cyan-500 {
  background: #00BCD4; }

.color-google-cyan-500 {
  color: #00BCD4; }

.background-google-cyan-600 {
  background: #00BCD4; }

.color-google-cyan-600 {
  color: #00BCD4; }

.background-google-cyan-700 {
  background: #00ACC1; }

.color-google-cyan-700 {
  color: #00ACC1; }

.background-google-cyan-800 {
  background: #0097A7; }

.color-google-cyan-800 {
  color: #0097A7; }

.background-google-cyan-900 {
  background: #00838F; }

.color-google-cyan-900 {
  color: #00838F; }

.background-google-cyan-A100 {
  background: #006064; }

.color-google-cyan-A100 {
  color: #006064; }

.background-google-cyan-A200 {
  background: #84FFFF; }

.color-google-cyan-A200 {
  color: #84FFFF; }

.background-google-cyan-A400 {
  background: #18FFFF; }

.color-google-cyan-A400 {
  color: #18FFFF; }

.background-google-cyan-A700 {
  background: #00E5FF; }

.color-google-cyan-A700 {
  color: #00E5FF; }

.background-google-teal {
  background: #009688; }

.color-google-teal {
  color: #009688; }

.background-google-teal-50 {
  background: #E0F2F1; }

.color-google-teal-50 {
  color: #E0F2F1; }

.background-google-teal-100 {
  background: #B2DFDB; }

.color-google-teal-100 {
  color: #B2DFDB; }

.background-google-teal-200 {
  background: #80CBC4; }

.color-google-teal-200 {
  color: #80CBC4; }

.background-google-teal-300 {
  background: #4DB6AC; }

.color-google-teal-300 {
  color: #4DB6AC; }

.background-google-teal-400 {
  background: #26A69A; }

.color-google-teal-400 {
  color: #26A69A; }

.background-google-teal-500 {
  background: #009688; }

.color-google-teal-500 {
  color: #009688; }

.background-google-teal-600 {
  background: #00897B; }

.color-google-teal-600 {
  color: #00897B; }

.background-google-teal-700 {
  background: #00796B; }

.color-google-teal-700 {
  color: #00796B; }

.background-google-teal-800 {
  background: #00695C; }

.color-google-teal-800 {
  color: #00695C; }

.background-google-teal-900 {
  background: #004D40; }

.color-google-teal-900 {
  color: #004D40; }

.background-google-teal-A100 {
  background: #A7FFEB; }

.color-google-teal-A100 {
  color: #A7FFEB; }

.background-google-teal-A200 {
  background: #64FFDA; }

.color-google-teal-A200 {
  color: #64FFDA; }

.background-google-teal-A400 {
  background: #1DE9B6; }

.color-google-teal-A400 {
  color: #1DE9B6; }

.background-google-teal-A700 {
  background: #00BFA5; }

.color-google-teal-A700 {
  color: #00BFA5; }

.background-google-green {
  background: #4CAF50; }

.color-google-green {
  color: #4CAF50; }

.background-google-green-50 {
  background: #E8F5E9; }

.color-google-green-50 {
  color: #E8F5E9; }

.background-google-green-100 {
  background: #C8E6C9; }

.color-google-green-100 {
  color: #C8E6C9; }

.background-google-green-200 {
  background: #A5D6A7; }

.color-google-green-200 {
  color: #A5D6A7; }

.background-google-green-300 {
  background: #81C784; }

.color-google-green-300 {
  color: #81C784; }

.background-google-green-400 {
  background: #66BB6A; }

.color-google-green-400 {
  color: #66BB6A; }

.background-google-green-500 {
  background: #4CAF50; }

.color-google-green-500 {
  color: #4CAF50; }

.background-google-green-600 {
  background: #43A047; }

.color-google-green-600 {
  color: #43A047; }

.background-google-green-700 {
  background: #388E3C; }

.color-google-green-700 {
  color: #388E3C; }

.background-google-green-800 {
  background: #2E7D32; }

.color-google-green-800 {
  color: #2E7D32; }

.background-google-green-900 {
  background: #1B5E20; }

.color-google-green-900 {
  color: #1B5E20; }

.background-google-green-A100 {
  background: #B9F6CA; }

.color-google-green-A100 {
  color: #B9F6CA; }

.background-google-green-A200 {
  background: #69F0AE; }

.color-google-green-A200 {
  color: #69F0AE; }

.background-google-green-A400 {
  background: #00E676; }

.color-google-green-A400 {
  color: #00E676; }

.background-google-green-A700 {
  background: #00C853; }

.color-google-green-A700 {
  color: #00C853; }

.background-google-light-green {
  background: #8BC34A; }

.color-google-light-green {
  color: #8BC34A; }

.background-google-light-green-50 {
  background: #F1F8E9; }

.color-google-light-green-50 {
  color: #F1F8E9; }

.background-google-light-green-100 {
  background: #DCEDC8; }

.color-google-light-green-100 {
  color: #DCEDC8; }

.background-google-light-green-200 {
  background: #C5E1A5; }

.color-google-light-green-200 {
  color: #C5E1A5; }

.background-google-light-green-300 {
  background: #AED581; }

.color-google-light-green-300 {
  color: #AED581; }

.background-google-light-green-400 {
  background: #9CCC65; }

.color-google-light-green-400 {
  color: #9CCC65; }

.background-google-light-green-500 {
  background: #8BC34A; }

.color-google-light-green-500 {
  color: #8BC34A; }

.background-google-light-green-600 {
  background: #7CB342; }

.color-google-light-green-600 {
  color: #7CB342; }

.background-google-light-green-700 {
  background: #689F38; }

.color-google-light-green-700 {
  color: #689F38; }

.background-google-light-green-800 {
  background: #558B2F; }

.color-google-light-green-800 {
  color: #558B2F; }

.background-google-light-green-900 {
  background: #33691E; }

.color-google-light-green-900 {
  color: #33691E; }

.background-google-light-green-A100 {
  background: #CCFF90; }

.color-google-light-green-A100 {
  color: #CCFF90; }

.background-google-light-green-A200 {
  background: #B2FF59; }

.color-google-light-green-A200 {
  color: #B2FF59; }

.background-google-light-green-A400 {
  background: #76FF03; }

.color-google-light-green-A400 {
  color: #76FF03; }

.background-google-light-green-A700 {
  background: #64DD17; }

.color-google-light-green-A700 {
  color: #64DD17; }

.background-google-lime {
  background: #CDDC39; }

.color-google-lime {
  color: #CDDC39; }

.background-google-lime-50 {
  background: #F9FBE7; }

.color-google-lime-50 {
  color: #F9FBE7; }

.background-google-lime-100 {
  background: #F0F4C3; }

.color-google-lime-100 {
  color: #F0F4C3; }

.background-google-lime-200 {
  background: #E6EE9C; }

.color-google-lime-200 {
  color: #E6EE9C; }

.background-google-lime-300 {
  background: #DCE775; }

.color-google-lime-300 {
  color: #DCE775; }

.background-google-lime-400 {
  background: #D4E157; }

.color-google-lime-400 {
  color: #D4E157; }

.background-google-lime-500 {
  background: #CDDC39; }

.color-google-lime-500 {
  color: #CDDC39; }

.background-google-lime-600 {
  background: #C0CA33; }

.color-google-lime-600 {
  color: #C0CA33; }

.background-google-lime-700 {
  background: #AFB42B; }

.color-google-lime-700 {
  color: #AFB42B; }

.background-google-lime-800 {
  background: #9E9D24; }

.color-google-lime-800 {
  color: #9E9D24; }

.background-google-lime-900 {
  background: #827717; }

.color-google-lime-900 {
  color: #827717; }

.background-google-lime-A100 {
  background: #F4FF81; }

.color-google-lime-A100 {
  color: #F4FF81; }

.background-google-lime-A200 {
  background: #EEFF41; }

.color-google-lime-A200 {
  color: #EEFF41; }

.background-google-lime-A400 {
  background: #C6FF00; }

.color-google-lime-A400 {
  color: #C6FF00; }

.background-google-lime-A700 {
  background: #AEEA00; }

.color-google-lime-A700 {
  color: #AEEA00; }

.background-google-yellow {
  background: #FFEB3B; }

.color-google-yellow {
  color: #FFEB3B; }

.background-google-yellow-50 {
  background: #FFFDE7; }

.color-google-yellow-50 {
  color: #FFFDE7; }

.background-google-yellow-100 {
  background: #FFF9C4; }

.color-google-yellow-100 {
  color: #FFF9C4; }

.background-google-yellow-200 {
  background: #FFF59D; }

.color-google-yellow-200 {
  color: #FFF59D; }

.background-google-yellow-300 {
  background: #FFF176; }

.color-google-yellow-300 {
  color: #FFF176; }

.background-google-yellow-400 {
  background: #FFEE58; }

.color-google-yellow-400 {
  color: #FFEE58; }

.background-google-yellow-500 {
  background: #FFEB3B; }

.color-google-yellow-500 {
  color: #FFEB3B; }

.background-google-yellow-600 {
  background: #FDD835; }

.color-google-yellow-600 {
  color: #FDD835; }

.background-google-yellow-700 {
  background: #FBC02D; }

.color-google-yellow-700 {
  color: #FBC02D; }

.background-google-yellow-800 {
  background: #F9A825; }

.color-google-yellow-800 {
  color: #F9A825; }

.background-google-yellow-900 {
  background: #F57F17; }

.color-google-yellow-900 {
  color: #F57F17; }

.background-google-yellow-A100 {
  background: #FFFF8D; }

.color-google-yellow-A100 {
  color: #FFFF8D; }

.background-google-yellow-A200 {
  background: #FFFF00; }

.color-google-yellow-A200 {
  color: #FFFF00; }

.background-google-yellow-A400 {
  background: #FFEA00; }

.color-google-yellow-A400 {
  color: #FFEA00; }

.background-google-yellow-A700 {
  background: #FFD600; }

.color-google-yellow-A700 {
  color: #FFD600; }

.background-google-amber {
  background: #FFC107; }

.color-google-amber {
  color: #FFC107; }

.background-google-amber-50 {
  background: #FFF8E1; }

.color-google-amber-50 {
  color: #FFF8E1; }

.background-google-amber-100 {
  background: #FFECB3; }

.color-google-amber-100 {
  color: #FFECB3; }

.background-google-amber-200 {
  background: #FFE082; }

.color-google-amber-200 {
  color: #FFE082; }

.background-google-amber-300 {
  background: #FFD54F; }

.color-google-amber-300 {
  color: #FFD54F; }

.background-google-amber-400 {
  background: #FFCA28; }

.color-google-amber-400 {
  color: #FFCA28; }

.background-google-amber-500 {
  background: #FFC107; }

.color-google-amber-500 {
  color: #FFC107; }

.background-google-amber-600 {
  background: #FFB300; }

.color-google-amber-600 {
  color: #FFB300; }

.background-google-amber-700 {
  background: #FFA000; }

.color-google-amber-700 {
  color: #FFA000; }

.background-google-amber-800 {
  background: #FF8F00; }

.color-google-amber-800 {
  color: #FF8F00; }

.background-google-amber-900 {
  background: #FF6F00; }

.color-google-amber-900 {
  color: #FF6F00; }

.background-google-amber-A100 {
  background: #FFE57F; }

.color-google-amber-A100 {
  color: #FFE57F; }

.background-google-amber-A200 {
  background: #FFD740; }

.color-google-amber-A200 {
  color: #FFD740; }

.background-google-amber-A400 {
  background: #FFC400; }

.color-google-amber-A400 {
  color: #FFC400; }

.background-google-amber-A700 {
  background: #FFAB00; }

.color-google-amber-A700 {
  color: #FFAB00; }

.background-google-orange {
  background: #FF9800; }

.color-google-orange {
  color: #FF9800; }

.background-google-orange-50 {
  background: #FFF3E0; }

.color-google-orange-50 {
  color: #FFF3E0; }

.background-google-orange-100 {
  background: #FFE0B2; }

.color-google-orange-100 {
  color: #FFE0B2; }

.background-google-orange-200 {
  background: #FFCC80; }

.color-google-orange-200 {
  color: #FFCC80; }

.background-google-orange-300 {
  background: #FFB74D; }

.color-google-orange-300 {
  color: #FFB74D; }

.background-google-orange-400 {
  background: #FFA726; }

.color-google-orange-400 {
  color: #FFA726; }

.background-google-orange-500 {
  background: #FF9800; }

.color-google-orange-500 {
  color: #FF9800; }

.background-google-orange-600 {
  background: #FB8C00; }

.color-google-orange-600 {
  color: #FB8C00; }

.background-google-orange-700 {
  background: #F57C00; }

.color-google-orange-700 {
  color: #F57C00; }

.background-google-orange-800 {
  background: #EF6C00; }

.color-google-orange-800 {
  color: #EF6C00; }

.background-google-orange-900 {
  background: #E65100; }

.color-google-orange-900 {
  color: #E65100; }

.background-google-orange-A100 {
  background: #FFD180; }

.color-google-orange-A100 {
  color: #FFD180; }

.background-google-orange-A200 {
  background: #FFAB40; }

.color-google-orange-A200 {
  color: #FFAB40; }

.background-google-orange-A400 {
  background: #FF9100; }

.color-google-orange-A400 {
  color: #FF9100; }

.background-google-orange-A700 {
  background: #FF6D00; }

.color-google-orange-A700 {
  color: #FF6D00; }

.background-google-orange {
  background: #FF9800; }

.color-google-orange {
  color: #FF9800; }

.background-google-orange-50 {
  background: #FFF3E0; }

.color-google-orange-50 {
  color: #FFF3E0; }

.background-google-orange-100 {
  background: #FFE0B2; }

.color-google-orange-100 {
  color: #FFE0B2; }

.background-google-orange-200 {
  background: #FFCC80; }

.color-google-orange-200 {
  color: #FFCC80; }

.background-google-orange-300 {
  background: #FFB74D; }

.color-google-orange-300 {
  color: #FFB74D; }

.background-google-orange-400 {
  background: #FFA726; }

.color-google-orange-400 {
  color: #FFA726; }

.background-google-orange-500 {
  background: #FF9800; }

.color-google-orange-500 {
  color: #FF9800; }

.background-google-orange-600 {
  background: #FB8C00; }

.color-google-orange-600 {
  color: #FB8C00; }

.background-google-orange-700 {
  background: #F57C00; }

.color-google-orange-700 {
  color: #F57C00; }

.background-google-orange-800 {
  background: #EF6C00; }

.color-google-orange-800 {
  color: #EF6C00; }

.background-google-orange-900 {
  background: #E65100; }

.color-google-orange-900 {
  color: #E65100; }

.background-google-orange-A100 {
  background: #FFD180; }

.color-google-orange-A100 {
  color: #FFD180; }

.background-google-orange-A200 {
  background: #FFAB40; }

.color-google-orange-A200 {
  color: #FFAB40; }

.background-google-orange-A400 {
  background: #FF9100; }

.color-google-orange-A400 {
  color: #FF9100; }

.background-google-orange-A700 {
  background: #FF6D00; }

.color-google-orange-A700 {
  color: #FF6D00; }

.background-google-deep-orange {
  background: #FF5722; }

.color-google-deep-orange {
  color: #FF5722; }

.background-google-deep-orange-50 {
  background: #FBE9E7; }

.color-google-deep-orange-50 {
  color: #FBE9E7; }

.background-google-deep-orange-100 {
  background: #FFCCBC; }

.color-google-deep-orange-100 {
  color: #FFCCBC; }

.background-google-deep-orange-200 {
  background: #FFAB91; }

.color-google-deep-orange-200 {
  color: #FFAB91; }

.background-google-deep-orange-300 {
  background: #FF8A65; }

.color-google-deep-orange-300 {
  color: #FF8A65; }

.background-google-deep-orange-400 {
  background: #FF7043; }

.color-google-deep-orange-400 {
  color: #FF7043; }

.background-google-deep-orange-500 {
  background: #FF5722; }

.color-google-deep-orange-500 {
  color: #FF5722; }

.background-google-deep-orange-600 {
  background: #F4511E; }

.color-google-deep-orange-600 {
  color: #F4511E; }

.background-google-deep-orange-700 {
  background: #E64A19; }

.color-google-deep-orange-700 {
  color: #E64A19; }

.background-google-deep-orange-800 {
  background: #D84315; }

.color-google-deep-orange-800 {
  color: #D84315; }

.background-google-deep-orange-900 {
  background: #BF360C; }

.color-google-deep-orange-900 {
  color: #BF360C; }

.background-google-deep-orange-A100 {
  background: #FF9E80; }

.color-google-deep-orange-A100 {
  color: #FF9E80; }

.background-google-deep-orange-A200 {
  background: #FF6E40; }

.color-google-deep-orange-A200 {
  color: #FF6E40; }

.background-google-deep-orange-A400 {
  background: #FF3D00; }

.color-google-deep-orange-A400 {
  color: #FF3D00; }

.background-google-deep-orange-A700 {
  background: #DD2C00; }

.color-google-deep-orange-A700 {
  color: #DD2C00; }

.background-google-brown {
  background: #795548; }

.color-google-brown {
  color: #795548; }

.background-google-brown-50 {
  background: #EFEBE9; }

.color-google-brown-50 {
  color: #EFEBE9; }

.background-google-brown-100 {
  background: #D7CCC8; }

.color-google-brown-100 {
  color: #D7CCC8; }

.background-google-brown-200 {
  background: #BCAAA4; }

.color-google-brown-200 {
  color: #BCAAA4; }

.background-google-brown-300 {
  background: #A1887F; }

.color-google-brown-300 {
  color: #A1887F; }

.background-google-brown-400 {
  background: #8D6E63; }

.color-google-brown-400 {
  color: #8D6E63; }

.background-google-brown-500 {
  background: #795548; }

.color-google-brown-500 {
  color: #795548; }

.background-google-brown-600 {
  background: #6D4C41; }

.color-google-brown-600 {
  color: #6D4C41; }

.background-google-brown-700 {
  background: #5D4037; }

.color-google-brown-700 {
  color: #5D4037; }

.background-google-brown-800 {
  background: #4E342E; }

.color-google-brown-800 {
  color: #4E342E; }

.background-google-brown-900 {
  background: #3E2723; }

.color-google-brown-900 {
  color: #3E2723; }

.background-google-grey {
  background: #9E9E9E; }

.color-google-grey {
  color: #9E9E9E; }

.background-google-grey-50 {
  background: #FAFAFA; }

.color-google-grey-50 {
  color: #FAFAFA; }

.background-google-grey-100 {
  background: #F5F5F5; }

.color-google-grey-100 {
  color: #F5F5F5; }

.background-google-grey-200 {
  background: #EEEEEE; }

.color-google-grey-200 {
  color: #EEEEEE; }

.background-google-grey-300 {
  background: #E0E0E0; }

.color-google-grey-300 {
  color: #E0E0E0; }

.background-google-grey-400 {
  background: #BDBDBD; }

.color-google-grey-400 {
  color: #BDBDBD; }

.background-google-grey-500 {
  background: #9E9E9E; }

.color-google-grey-500 {
  color: #9E9E9E; }

.background-google-grey-600 {
  background: #757575; }

.color-google-grey-600 {
  color: #757575; }

.background-google-grey-700 {
  background: #616161; }

.color-google-grey-700 {
  color: #616161; }

.background-google-grey-800 {
  background: #424242; }

.color-google-grey-800 {
  color: #424242; }

.background-google-grey-900 {
  background: #212121; }

.color-google-grey-900 {
  color: #212121; }

.background-google-blue-grey {
  background: #607D8B; }

.color-google-blue-grey {
  color: #607D8B; }

.background-google-blue-grey-50 {
  background: #ECEFF1; }

.color-google-blue-grey-50 {
  color: #ECEFF1; }

.background-google-blue-grey-100 {
  background: #CFD8DC; }

.color-google-blue-grey-100 {
  color: #CFD8DC; }

.background-google-blue-grey-200 {
  background: #B0BEC5; }

.color-google-blue-grey-200 {
  color: #B0BEC5; }

.background-google-blue-grey-300 {
  background: #90A4AE; }

.color-google-blue-grey-300 {
  color: #90A4AE; }

.background-google-blue-grey-400 {
  background: #78909C; }

.color-google-blue-grey-400 {
  color: #78909C; }

.background-google-blue-grey-500 {
  background: #607D8B; }

.color-google-blue-grey-500 {
  color: #607D8B; }

.background-google-blue-grey-600 {
  background: #546E7A; }

.color-google-blue-grey-600 {
  color: #546E7A; }

.background-google-blue-grey-700 {
  background: #455A64; }

.color-google-blue-grey-700 {
  color: #455A64; }

.background-google-blue-grey-800 {
  background: #37474F; }

.color-google-blue-grey-800 {
  color: #37474F; }

.background-google-blue-grey-900 {
  background: #263238; }

.color-google-blue-grey-900 {
  color: #263238; }

.background-google-black {
  background: #000000; }

.color-google-black {
  color: #000000; }

.background-google-white {
  background: #ffffff; }

.color-google-white {
  color: #ffffff; }

.color-white {
  color: #ffffff; }

.background-white {
  background: #ffffff; }

.color-grey {
  color: #9E9E9E; }

.background-grey {
  background: #9E9E9E; }

.color-black {
  color: #000000; }

.background-black {
  background: #000000; }

.color-magenta {
  color: #E040FB; }

.background-magenta {
  background: #E040FB; }

.color-pink {
  color: #E91E63; }

.background-pink {
  background: #E91E63; }

.color-red {
  color: #F44336; }

.background-red {
  background: #F44336; }

.color-brown {
  color: #795548; }

.background-brown {
  background: #795548; }

.color-orange {
  color: #FF9800; }

.background-orange {
  background: #FF9800; }

.color-yellow {
  color: #FFEB3B; }

.background-yellow {
  background: #FFEB3B; }

.color-green {
  color: #4CAF50; }

.background-green {
  background: #4CAF50; }

.color-cyan {
  color: #00BCD4; }

.background-cyan {
  background: #00BCD4; }

.color-blue {
  color: #2196F3; }

.background-blue {
  background: #2196F3; }

.color-purple {
  color: #9C27B0; }

.background-purple {
  background: #9C27B0; }

.color-bggrey {
  color: #f2f2f2; }

.background-bggrey {
  background: #f2f2f2; }

/*# sourceMappingURL=colors.css.map */
